<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atelie Alana</title>
    
    <!--CSS-->
    <link href="../css/style_index.css" rel="stylesheet">
</head>
<body>
    <header class="container">
        <div class="logo">
            <img src="../img/logo.png" alt="logomarca">
        </div>
        <div class="menu-section">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="index.html">Inicio/</a>
                    </li>
                    <li>
                        <a href="trabalhos.html">Trabalhos/</a>
                    </li>
                    <li>
                        <a href="contato.html">Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="painel">
        <h1>UM LAR VESTIDO DE AMOR</h1>
    </section>

    <main>        
            <div class="fixtures-item">
                <img src="../img/vasodeplanta.png" alt="vasodeplanta">
                    <p>
                        Lembrancinhas de aniversário, casamento, saída de maternidade, batizados.
                    </p> 
                    <hr>                
            </div>

            <div class="fixtures-item">
                <img src="../img/sapatinhos.png" alt="sapatosdegirafa">
                    <p>
                        Produzimos peças de vestuario infantil e adulto, pantufas, shorts de crochê, croppeds, clutch e muito mais. 
                    </p>
                    <hr> 
            </div>   
            
            <div class="fixtures-item">
                <img src="../img/banquinho.png" alt="capadebanquinho">
                    <p>
                        Decoramos e produzimos peças para todos os ambientes e móveis do seu lar.
                    </p>
                    <hr> 
            </div>

            <div class="fixtures-item">
                <img src="../img/sacada.png" alt="decoracaosacada">
                    <p>
                        Organize sua casa com peças personalizadas, transformamos sonhos em decoração.
                    </p>
                    <hr> 
            </div>
    </main>
       
    <section class="painel2">
        <h2>GOSTARIA DE TER ACESSÓRIOS FEITOS PARA VOCÊ?</h2>
        <a href="contato.html">CONTATE-ME</a>
    </section>
    <hr>

    <footer>
        Alane Rios Ateliê © Todos os direitos reservados 2021
    </footer>

</body>
</html>