<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ateliê - Trabalhos</title>

    <!--CSS-->
    <link rel="stylesheet" href="../css/style_works.css">
</head>
<body>
    <header class="container">
        <div class="logo">
            <img src="../img/logo.png" alt="logomarca">
        </div>
        <div class="menu-section">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="index.html">Inicio/</a>
                    </li>
                    <li>
                        <a href="trabalhos.html">Trabalhos/</a>
                    </li>
                    <li>
                        <a href="contato.html">Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <div>
            <img src="../img/acessorio8.png" alt="girafa">
            <p>Girafa</p>
        </div>

        <div>
            <img src="../img/acessorio3.png" alt="bolsa">
            <p>Bolsa</p>
        </div>

        <div>            
            <img src="../img/acessorio9.png" alt="PortaTalher">
            <p>Porta Talher</p>
        </div>

        <div>
            <img src="../img/acessorio7.png" alt="bobesponja">
            <p>Cesto Bob</p>
        </div>

        <div>
            <img src="../img/acessorio6.png" alt="coelhos">
            <p>Casal Coelho</p>
        </div>

        <div>
            <img src="../img/acessorio1.png" alt="almofadas">
            <p>Almofadas</p>
        </div>

        <div>
            <img src="../img/acessorio11.png" alt="cestoorganizador">
            <p>Cesto organizador</p>
        </div>

        <div>
            <img src="../img/acessorio5.png" alt="pezeira">
            <p>Peseira</p>
        </div>

        <div>
            <img src="../img/roupa1.png" alt="bolsa">
            <p>Bolsa bordada</p>
        </div>

        <div>
            <img src="../img/acessorio4.png" alt="carteira">
            <p>Crocket</p>
        </div>

        <div>
            <img src="../img/roupa7.png" alt="body">
            <p>Body</p>
        </div>

        <div>
            <img src="../img/roupa6.png" alt="bodycolorido">
            <p>Body Color</p>
        </div>

        <div>
            <img src="../img/roupa3.png" alt="camisetinha">
            <p>camisetinha</p>
        </div>

        <div>
            <img src="../img/roupa5.png" alt="biquini">
            <p>Biquini</p>
        </div>

        <div>
            <img src="../img/roupa2.png" alt="biquiniconjunto">
            <p>Biquini Conjunto</p>
        </div>

        <div>
            <img src="../img/roupa4.png" alt="biquinicolorido">
            <p>Biquini bordado</p>
        </div>

    </main>

    <hr>
    <footer>
        Alane Rios Ateliê © Todos os direitos reservados 2021
    </footer>

</body>
</html>